@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F4F1DE;
    color: #2B2D42;
    margin: 0%;
    padding-top: 7%;
}

.layout-principal{
    margin: 2%;
}

h2{
    border-bottom: 1px solid #ccc;
}

.superior {
    position: fixed;
    background-color: #1D2A44;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #bbb;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 4%;
}
#tituloPrincipal {
    font-family: "New Rocker", serif;
    margin: 1%;
}
#tituloPrincipal a {
    color: gold;
    text-decoration: none;
}
#barraContacto{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #F4F1DE;
}
#barraContacto:hover{
    color: #F26419;
    text-decoration: underline;
}

.contenedor{
    display: flex;
    width: 300;
    justify-content: space-evenly;
    align-items: center;
}

.caja{
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #F26419;
    padding: 12px 16px;
    border-radius: 8px; 
}

.caja a{
    text-decoration: none;
    color: #2B2D42;
}

.caja a:hover{
    color: gold;
    text-decoration: underline;
}


#tituloPrincipal {
    font-family: "New Rocker", serif;
    padding: 0%;
    margin-left: 1%;
    left: 5%;
    float: left;
    display: block;
    color: gold;
    text-align: center;
}

form { 
    display: flex; 
    flex-direction: column; 
    gap: 12px; 
    max-width: 400px; 
    margin: 20px auto; 
}
input, textarea, button { 
    padding: 12px; 
    border-radius: 8px; 
    border: 1px solid #ccc; 
    font-size: 1rem; 
}
input[type="submit"]{
    display: block;
}
button { 
    background: #F26419; 
    color: #3E2723; 
    cursor: pointer; 
    font-weight: bold; 
    transition: background 0.2s; 
}
button:hover { 
    background: #45a049; 
}
button:disabled { 
    background: #cccccc; 
    cursor: not-allowed; 
}

section, [id] {
    scroll-margin-top: 100px;
}
.muestraImagen{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}